@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	color:#E8E2E2;
	background:#AEE2FF;
}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span{
	margin:0; padding:0;
}

ul{
	margin:0; 
	padding:0; 
	list-style-type:none;
	font-size:0;
	line-height:0;
}


.spacer{
	clear:both; 
	font-size:0; 
	line-height:0;
}
.more
{
font:normal 11px/18px Arial, Helvetica, sans-serif;
color:#00d09d;
text-decoration:none;
padding-left:230px;
}
.style1{color:#00d09d;}
/*------------------------------------------------body--------------------*/

#top_links
{
margin:0 auto;
padding:0px;
width:900px;
height:40px;
}
#top_linksin
{
padding:10px 0 0 0;
width:310px;
height:18px;
float:right;
}

#top_linksin ul
{
list-style:none;
margin:0 0 0 40px;
}
#top_linksin ul li
{
font:normal 11px/10px Arial, Helvetica, sans-serif;
color:#FFFFFF;
border-right:#7f7f7f 1px solid;
padding:0 15px;
float:left;
}
#top_linksin ul li a
{
text-decoration:none;
display:block;
color:#7f7f7f;
}
#top_linksin ul li a:hover
{
text-decoration:none;
display:block;
color:#FFFFFF;
}

#header
{
margin:0 auto;
background:#000 url(images/header.jpg) 0 0 no-repeat;
width:897px;
height:282px;
}
#header h1
{
font:bold 44px/18px Arial, Helvetica, sans-serif;
color:#FFFFFF;
padding:100px 0 0 380px;
}
#header h2
{
font:bold italic 24px/18px Arial, Helvetica, sans-serif;
color:#131313;
padding:20px 0 0 380px;
}

#navigation
{
margin:0 auto;
width:896px;
height:40px;
background:#000;
border:1px solid #282828;
}
#navigation ul
{
list-style:none;
}
#navigation ul li
{
color:#adadad;
float:left;
text-align:center;
font:bold 15px/40px Arial, Helvetica, sans-serif;
width:127px;
border-right:1px solid #282828;
}
#navigation ul li a
{
text-decoration:none;
display:block;
color:#adadad;
}
#navigation ul li a:hover
{
color:#FFFFFF;
}
#navigation ul li.last
{
border:none;
float:left;
}

#content1
{
width:897px; 
margin:0 auto; 
background:url(images/globe_05.jpg) 0 0 repeat-y;
}
#content1 h1
{
font:bold italic 22px/79px Arial, Helvetica, sans-serif;
color:#ffffff;
padding-left:30px;
}
#content1 p
{
font:normal 12px/18px Arial, Helvetica, sans-serif;
color:#b2b2b2;
padding:5px 15px 0 15px;
}
.con
{
background:url(images/globe_06.jpg) 0 0 repeat-y;
width:290px;
}
#heade1
{
width:167px;
height:79px;
background:url(images/image_03.gif) 20px 10px no-repeat;
padding-left:90px;
}
#heade2
{
width:167px;
height:79px;
background:url(images/image_04.gif) 20px 10px no-repeat;
padding-left:90px;
}
#heade3
{
width:167px;
height:79px;
background:url(images/image_05.gif) 20px 5px no-repeat;
padding-left:90px;
}
#services
{
width:257px;
padding:10px;
}
#services h1
{
font:bold italic 20px/25px Arial, Helvetica, sans-serif;
color:#333333;
}
#services ul
{
list-style:none;
margin-left:8px;
}
#services ul li
{
font:normal 12px/22px Arial, Helvetica, sans-serif;
color:#FFFFFF;
display:block;
padding:0 0 4px 16px;
background:url(images/bullet.png) left center no-repeat;
}
#services ul li a
{
text-decoration:none;
display:block;
color:#7f7f7f;
}
#services ul li a:hover
{
text-decoration:none;
display:block;
color:#000000;
}
#welcome
{
width:287px;
padding:10px;
}
#welcome h1
{
font:bold italic 20px/25px Arial, Helvetica, sans-serif;
color:#333333;
}
#welcome p
{
font:normal 12px/18px Arial, Helvetica, sans-serif;
color:#7f7f7f;
}
#news
{
width:257px;
padding:10px;
}
#news h1
{
font:bold italic 20px/25px Arial, Helvetica, sans-serif;
color:#333333;
}
.img
{
float:left;
padding-right:10px;
}
#news h2
{
font:bold 12px/18px Arial, Helvetica, sans-serif;
color:#333333;
}
#news p
{
font:normal 12px/18px Arial, Helvetica, sans-serif;
color:#7f7f7f;
}

#footer_navigation
{
width:500px;
height:30px;
margin:0 auto;
}
#footer_navigation ul li
{
width:80px;
font: normal 12px/30px Arial, Helvetica, sans-serif;
color:#7d9942;
float:left;
}
#footer_navigation ul li a
{
text-decoration:none;
color:#7f7f7f;
height:30px;
}
#footer_navigation ul li a:hover
{
text-decoration:none;
color:#ffffff;
height:49px;
}
#footer_copyright
{
color: #7f7f7f;
font: normal 11px/30px Arial, Helvetica, sans-serif;
margin:0 auto;
text-align:center;
}

#footer_design
{
color: #ffffff;
font: normal 11px/25px Arial, Helvetica, sans-serif;
margin:0 auto;
text-align:center;
width:100%;
background:#000000;
}
#footer_design a
{
color: #b6ff06;
text-decoration:none;
}
#footer_design a:hover
{
color: #b6ff06;
text-decoration:underline;
}